.cartli_container{
    display: flex;
    height:140px;
    padding: 15px;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.img_data{
    display: flex;
    gap: 20px;
    width: 60%;
    
    padding-right: 70px;
}
.img_data img{
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}
.middle h4::first-letter{text-transform: capitalize;}
.middle h4{
    color: #878787;
}
.meta_data{
    flex: 1;
    display: flex;
 
    align-items: center;
}
.total{
   
    color: rgb(147, 147, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product_image{
    height: 100%;
}


.right>button{
    font-family: 'Inter';
    color: red;
    font-size: 30px;
    height: 100%;
    padding: 10px;
    background-color:transparent;
    border: none;
  
}
.price{
    width: 35%;
}
.meta_data>div:not(:first-child){
    width: 30%;
    text-align: center;
}
.increment{

    width: 150px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;

    
}
.increment>div{
    background-color: #e3e7fa;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.increment span{
   
    font-size: 17px;
    
    font-weight: 600;
    color: #878787;
   
}
.increment>button{
    background-color: #e3e7fa;
    height: 100%;
    flex:1;
    width: 40px;
    font-weight: 800;
    color: white;
    border: none;
    font-size: 20px
   

}
.increment>button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.increment>button:last-child{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


